
<server description="Sample Servlet server">
    <featureManager>
        <feature>jakartaee-9.1</feature>  
        <feature>cdi-3.0</feature>
        <feature>faces-3.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>
    <library id="jdbcLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>
    
    <dataSource id="DefaultDataSource" jndiName="jdbc/tasks">
        <jdbcDriver libraryRef="jdbcLib"/>
        <connectionManager maxPoolSize="20" minPoolSize="5" 
        connectionTimeout="10s" agedTimeout="30m"/>
        <properties serverName="localhost" portNumber="3306"
                    databaseName="tasks"
                    user="root"
                    password=""/>
    </dataSource>
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
    <webApplication id="atelier2_tasks" location="atelier2_tasks.war" name="atelier2_tasks"/>

</server>
